.displayName {
  font-weight: 600;
}

.emoji {
  height: 1.2em;
  width: auto;
  vertical-align: middle;
  margin: 0 0.1em;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover .displayName {
  text-decoration: underline;
}
