.item {
  --padding-start: 0;
  --inner-padding-end: 0;

  --border-width: 0;
  --border-style: none;
  --background-hover: none;

  /* Add spacing between posts */
  margin-bottom: 6px;
    margin-top: 6px;
}
