.notLoggedIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--ion-color-medium);
  padding: 32px;
}

.notLoggedInIcon {
  font-size: 64px;
  margin-bottom: 16px;
}
